@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;

}

li{
    list-style: none;
}

:root {
    --poppins: 'Poppins' , sans-serif;
    --lato: 'Lato', sans-serif;

    --light: #F9F9F9;
    --blue:#2e8ee8;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey:#AAAAAA;
    --dark: #100f0f;
    --red: #e47046;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    --dark-red:#940404;
    --black:#000000;
    --black1:#252525cd;


   

}

body {
    background: var(--grey);

}

/* SIDEBAR */
#sidebar{
    position: fixed;
    top:0;
    left:0;
    width: 280px;
    height: 100%;
    background: var(--light);
    z-index: 1000;
    font-family: var(--lato);
    transition: -3s ease;
    overflow-x:hidden;
}
#sidebar.hide{
    width:60px;
}
#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items:  center;
    color: var(--red);
}
#sidebar .brand .bx {
    min-width: 60px;
    display: flex;
    justify-content: center;

}
#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}
#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 5px;
}
#sidebar .side-menu li.active {
    background: var(--grey);
    position:relative;
    /* z-index:100; */
  
}

#sidebar.hide .side-menu li.active::before{
    content:'';
    position:absolute;
    width:40px;
    height:40px;
    /* background:var(--blue); */
    border-radius: 50%;
    top: -40px;
    right:0;
    box-shadow: 20px 20px 0 var (--grey);
    z-index:-1;

}
#sidebar .side-menu li.active::after{
    content:'';
    position:absolute;
    width:40px;
    height:40px;
    /* background:var(--blue); */
    border-radius: 50%;
    bottom: -40px;
    right:0;
    box-shadow: 20px -20px 0 var (--grey);
    z-index:-1;

}
#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px ;
    font-size:16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x:hidden;
   

}
#sidebar .side-menu li.active a {
    color: var(--red);
 
}
#sidebar .side-menu li a {
   width: calc(100% - (5px * 2));
   transition: width -3s ease ;
  
}

#sidebar .side-menu li a.logout{
    color: var(--dark-red)
}
#sidebar .side-menu.top li a:hover{
    color: var(--red);
}
    

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((5px + 6px) * 2));
    display: flex;
    justify-content: center;
    
}
/* SIDEBAR */


/* CONTENT */
#content{
    position:absolute;
    width: calc(100% - 280px);
    left: 280px;
    transition: .3s ease;
}
#sidebar.hide ~ #content {
    width:calc(100% - 60px);
    left: 60px;
}

#content nav {
    height: 56px;
    /* width: 1500px; */
    background: var(--light);
    padding: 0 24px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    font-family: var(--lato);
    position: relative;
}
/* #content nav::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -40px;
    left: 0;
    border-radius: 50%;
    box-shadow: -20px -20px 0 var(--light);

} */

#content nav a{
    color: var(--dark);
}

#content nav .bx.bx-menu {
    cursor: pointer;
}
#content nav .nav-link {
   font-size: 16px; 
   transition: .3s ease;
}
#content nav .nav-link:hover{
    color: var(--orange);
}

#content nav form {
    max-width: 400px;
    width:100%;
    margin-right:auto;
    /* display: flex; */

}
#content nav form .form-input{
    display: flex;
    align-items: center;
    height: 36px;
}
#content nav form .form-input input{
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--grey);
    border-radius: 36px 0 0 36px;
    outline:none;
}
#content nav form .form-input button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    color: var(--light);
    font-size: 18px;
    border:none;
    outline:none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;

}

#content nav .notification {
    font-size: 20px;
    position: relative;

}
#content nav .notification .num {
    position:absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--dark-red);
    color: var(--light);
    font-weight: 700px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content nav .profile{
    width:36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50% ;
    border: 2px solid var(--light);
    background: var(--red);
    color: var (--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content nav .profile img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.title h1{
    margin-left: 20px;
    margin-top: 15px;
    font-size: 30px;
}



/* cards */

.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 30px;


}

.cardBox .card{
    position: relative;
    background: var (--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

.cardBox .card .numbers {
    position:relative;
    font-weight: 600;
    font-size: 2.3em;
    color: var(--orange);
}

.cardBox .card .cardName {
    color: var(--black1);
    font-size: 1.2em;
    margin-top: 6px;

}

.cardBox .card .icon8Bx {
    font-size: 2.6em;
    color: var(--black1);

}

.cardBox .card:hover{
    background: var(--orange);
}

.cardBox .card:hover .numbers ,
.cardBox .card:hover .cardName,
.cardBox .card:hover .icon8Bx{
    color: var(--light);
}
/* cards */

/* charts */
.graphBox{
    position:relative;
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:30px;
    min-height: 200px;
}

.graphBox .box{
    position: relative;
    background: #fff;
    padding:20px;
    width:100%;
    box-shadow: 0 7px 25px(0,0,0, 0.8);
    border-radius: 20px;
}



/* Tables */
.salespersonlist{
   position: relative; 
   width: 100%;
   padding: 20px;
   display: grid;
   grid-template-columns: 2fr 1fr;
   grid-gap: 30px;
   /* margin-top: 10px; */
}

.salespersonlist .recentsales{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--light);
    padding:20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.0.8);
    border-radius: 20px;
}

.cardHeader{
    display:flex;
    justify-content:space-between ;
    align-items: flex-start;
}

.cardHeader h2{
    font-weight: 600;
     color: var(--orange);
}

.btn{
    position: relative;
    padding: 5px 10px;
    background: var(--orange);
    text-decoration: none;
    color: var(--light);
    border-radius: 6px ;
}

.salespersonlist table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.salespersonlist table thead td{
    font-weight: 600;


}

.salespersonlist .recentsales table tr{
    color: var(--black);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
/* .salespersonlist .recentsales table tr:last-child{
    border-bottom: none;
} */

.salespersonlist .recentsales table tr:hover{
    background: var(--orange);
    color: var(--light);
}

.salespersonlist .recentsales table tr td{
    padding: 10px ;
}
.salespersonlist .recentsales table tr td:last-child{
    text-align: end;
}

/* .salespersonlist .recentsales table tr:first-child{
    border-bottom: none;
   
} */
.salespersonlist .recentsales table tr:first-child:hover{
    background: var(--light);
    color: var(--black);
}



/* top brands */

.topbrands{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--light);
    padding:20px;
    box-shadow: 0 7px 25px rgba(0,0,0,0.0.8);
    border-radius: 20px;

}

.topbrands table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 50px;
}

.topbrands table thead td{
    font-weight: 600;

}

.topbrands table tr{
    color: var(--black);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.topbrands table tr:hover{
    background: var(--orange);
    color: var(--light);
}

.topbrands table tr td{
    padding: 10px ;
}

.topbrands table tr td:last-child{
    text-align: end;
}


/* Top customers table */

.topCustomers{
    position: relative; 
    width: 100%;
    padding: 20px;
    /* margin-top: 10px; */
 }
 
 .topCustomers .recentactivity{
     position: relative;
     display: grid;
     min-height: 500px;
     background: var(--light);
     padding:20px;
     box-shadow: 0 7px 25px rgba(0,0,0,0.0.8);
     border-radius: 20px;
 }
 
 .topCustomers table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.topCustomers table thead td{
    font-weight: 600;


}

.topCustomers .recentactivity table tr{
    color: var(--black);
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.topCustomers  .recentactivity table tr:hover{
    background: var(--orange);
    color: var(--light);
}

.topCustomers  .recentactivity table tr td{
    padding: 10px ;
}
.topCustomers  .recentactivity table tr td:last-child{
    text-align: end;
}




















/* CONTENT */















@media screen and (max-width: 760px){
   #content {
    position: relative;
    width: calc(100% - 60px);
    left: 200px;
    transition: -3s ease;
   }
   
   
   
   
    #sidebar.hide ~ #content{
        width: calc(100% - 60px);
        left: 60px;

    }
    

}